<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Simple Sumo, <%= @user.username %>!</h1>
    <form action=<%= @url %>>
      <button type="submit">Log In</button>
    </form>
    <p>Thank you for joining and good luck in the ring!</p>
  </body>
</html>