<h2>Hello <%=@user.username%>!</h2>
    <h1>Thank you for registering with Simple Sumo!</h1>
    <%= link_to "Please click this link to verify your account!", "http://babslabs-simple-sumo-backend.herokuapp.com/users/#{@user.confirm_token}/confirm_email" %>
    <p>GOOD LUCK IN THE RING!</p>